.services{
     margin-top: 80px;
}
.services-heading h1{
    font-size: 50px;
    color: #08039f;
    margin-left: 680px;
}

.services-heading h2{
  font-size: 20px;
   margin-top: -30px;
   color: rgb(117, 117, 117);
   margin-left: 570px;
}

.services-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.service-card{
  width: 280px;
  min-height: 300px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 10px hsl(0, 0%, 85%);
  padding: 20px;
  background-color: var(--service-card-bg);
  text-align: center;
  margin-top: 40px;
}

.service-card:hover{
   box-shadow:  8px 8px 10px#08039f;
}

.serv-img{
    width: 60px;
}

.service-card h2 {
  font-size: 25px;
  margin-bottom: 10px;
  align-items: center;
  color:var(--service-card-h2) ;
  
}

.service-card p {
  margin: 5px 0;
  color: var(--service-card-p);
  font-size: 17px;
  font-weight: 400;
}


/* Tablet */
@media (max-width: 1280px) {
  
.services-heading h1{
    font-size: 50px;
    margin-left: 430px;
}

.services-heading h2{
   font-size: 20px;
   margin-top: -30px;
   margin-left: 330px;
}

.services-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: -20px;
}

.service-card{
  width: 200px;
  min-height: 200px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}


.serv-img{
    width: 40px;
}




}

/* Mobile */
@media (max-width: 768px) {
   .services-heading h1{
    font-size: 20px;
    margin-left: 60px;
}

.services-heading h2{
   font-size: 10px;
   margin-top: -15px;
   margin-left: -3px;
}
 .services-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-left: -195px;
  }

  .service-card {
    width: 30%;
    min-height: auto;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
  }



.serv-img{
    width: 10px;
}

.service-card h2 {
  font-size: 11px;
  margin-bottom: 10px;
  align-items: center;
}

.service-card p {
  margin: 5px 0;
  font-size: 10px;
  font-weight: 400;
}

}