@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Define scroll timeline */
.container {
  view-timeline-name: --fadeTimeline;
  view-timeline-axis: block;
}


.container > * {
  animation-name: fadeInUp;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-duration: 8s;
  animation-timeline: --fadeTimeline;
  animation-range: entry 0% cover 40%;
}
